body {
  margin: 0;
  padding: 0;
  top: 0px!important;
  z-index: 111;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #4CAF50;
}

#fixed {
  position: sticky;
  background-color: #fff;
  z-index: 111;
  top: 0;
  padding: 1.5rem 0 0 0;
}

.img-off {
  display: none;
}
.btn
{
  outline: none!important;
}

/* The side navigation menu */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgb(17, 17, 17, .9);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.navbar {
  position: absolute;
  z-index: 11;
  left: 0;
  right: 0;
}

.navbar.second_navbar {
  position: relative;
}

.navbar a {
  text-decoration: none;
}

#mySidenav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#mySidenav ul li {
  display: block;
  padding: .1rem 0;
}

#mySidenav ul li:hover {
  background: #f25621;
}

#mySidenav ul li a {
  padding: .5rem 0rem .5rem 2rem;
  color: #fff;
}

#mySidenav ul li {
  border-bottom: 1px solid #2b2b2b;
}

#mySidenav ul h6 {
  color: #fff;
  padding: .5rem 0rem .5rem 2rem;
  font-size: 15px;
  margin-bottom: 0;
}


/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu {
  cursor: pointer;
}

.menu i {
  font-size: 35px;
  color: #fff;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

.bannerbtn,
.register_submit {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none!important;
  position: relative;
  background: #4CAF50;
  border: 1px solid #4CAF50;
  font: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-indent: 2px;
  outline: none;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s;
}

.btn.payingguest-btn {
  border: 1px solid #4CAF50;
  background-color: transparent;
  color: #4CAF50;
  text-transform: capitalize;
  font-size: 13px;
  outline: none;
  font-weight: 600;
  padding: 8px 15px;
}
.btn.booking-btn
{
  padding: 15px;
}

.btn.payingguest-btn.no2 {
  background-color: #4CAF50;
  color: #fff;
}

.btn.payingguest-btn.no2:hover {
  background-color: #000!important;
  border: 1px solid #000;
}

.btn.payingguest-btn:hover {
  background: #f25621!important;
  color: #fff;
}

.register_submit {
  padding: 1.6rem 10px;
  line-height: 0;
}

.bannerbtn:hover,
.btn_1:hover,
.register_submit:hover {
  background: #000;
  color: #fff;
  border: 1px solid #000;
}

.btn {
  padding: 10px 20px;
  font: 16px;
}
/*
.btn:hover {
  color: #373737;
  background: #000!important;
  transition: color 0.1s linear 0s;
}
*/
.btn-theme {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.btn-theme:hover {
     color: #fff;
    background-color: #de3900;
}
/*--search-box--*/

.search_box {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 40px;
  height: 40px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid rgb(255, 255, 255, 0.3);
  padding: 5px;
}

.search_box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  ;
  height: 32.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.search_box .fa {
  box-sizing: border-box;
  padding: 6px;
  width: 32.5px;
  height: 32.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #4CAF50;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search_box:hover {
  width: 200px;
  cursor: pointer;
}

.search_box:hover input {
  display: block;
}

.search_box:hover .fa {
  background: #07051a;
  color: white;
}

.list_property {
  background: rgb(242, 86, 33);
  padding: .3rem .8rem;
  border-radius: 5px;
  position: absolute;
  left: 74%;
  transition: .3s;
}

.list_property:hover {
  background: rgb(255, 255, 255, 0.3);
  transition: .3s;
}

.list_property a {
  color: #fff;
  font-size: 15px;
  letter-spacing: .6px;
  font-size: 14px;
  font-family: 'Comic Neue', cursive;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.container-fluid.banner_img {
  position: relative;
  padding: 0;
  color: #fff;
}

.container-fluid.banner_img img {
  height: 770px;
  width: 100%;
}

.container-fluid.banner_img .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid.banner_img .container .banner_text_iner {
  text-align: center;
}

.container-fluid.banner_img .container .banner_text_iner h1 {
  font-size: 90px;
  font-family: 'Comic Neue', cursive;
  /*font-style: italic;*/
}

.container-fluid.banner_img .container .banner_text_iner p {
  font-family: 'Comic Neue', cursive;
  font-size: 18px;
}

.form_three {
  width: 27%!important;
}

.booking_part {
  margin-top: -80px;
  z-index: 9;
  position: relative;
  /* line 7, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .booking_menu {
  background-color: #fff;
  padding: 0 35px;
  border-radius: 20px 20px 0 0px;
}

@media (max-width: 575px) {
  /* line 13, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
  .booking_part .booking_menu {
    padding: 0 20px;
  }
}

.booking_part .booking_menu .nav-tabs .nav-item .nav-link,
.booking_part .booking_menu .nav-tabs .nav-link {
  color: #000;
  font-weight: 600;
  border-color: transparent;
  border-bottom: 3px solid transparent;
  text-transform: capitalize;
  padding: 28.5px 20px;
  /* line 20, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .booking_menu .nav-tabs {
  border-bottom: 0px solid transparent;
  /* line 24, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .booking_content {
  background-color: white;
  box-shadow: 0px 10px 40px 0px rgba(221, 221, 221, 0.3);
  border-radius: 0px 0px 20px 20px;
  padding: 40px;
  /* line 29, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row {
  display: flex;
  justify-content: space-between;
  /* line 32, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row .form_colum {
  width: 20%;
}

@media (max-width: 991px) {
  .booking_part .form-row .form_colum {
    width: 48%;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  /* line 43, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
  .booking_part .form-row .form_colum {
    width: 100%!important;
    margin-bottom: 15px;
  }
}

.booking_part .form-row .form_colum .nc_select,
.booking_part .form-row .form_colum .gj-datepicker {
  width: 100%;
  border-color: #4CAF50;
  border-radius: 7px;
  color: #4CAF50;
  height: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
  /* line 52, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row .form_colum .nice-select:after {
  border-bottom: 2px solid #4CAF50;
  border-right: 2px solid #4CAF50;
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  right: 18px;
  /* line 61, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row .form_colum .gj-textbox-md {
  border: 1px solid #4CAF50;
  border-radius: 7px;
  padding: 16px;
  color: #4CAF50;
  font-size: 15px;
  /* line 67, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row .form_colum .gj-datepicker-md [role=right-icon] {
  position: absolute;
  right: 12px;
  top: 13px;
  font-size: 24px;
  /* line 73, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .form-row .form_colum ::placeholder {
  color: #4CAF50;
  /* line 78, /Applications/MAMP/htdocs/palash/cl/july 2019/193 Travel/193 travel html/sass/_booking.scss */
}

.booking_part .nav-link.active {
  border-bottom: 3px solid #000 !important;
}

.btn_1,
.btn_2 {
  display: inline-block;
  padding: 13px 30px;
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  text-decoration: none!important;
  text-transform: capitalize;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #4CAF50;
  font-weight: 500;
  border: 1px solid #4CAF50;
}

#hotel-slider {
  margin-top: 30px;
}

.post-slide {
  background: #fff;
  margin: 0 15px;
}

.post-slide .post-img {
  position: relative;
  overflow: hidden;
}

.post-slide .post-img img {
  width: 100%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.50s linear;
}

.post-slide:hover .post-img img {
  transform: scale(1.1, 1.1);
}

.post-slide .over-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.50s linear;
}

.post-slide:hover .over-layer {
  opacity: 1;
  text-decoration: none;
}

.post-slide .over-layer i {
  position: relative;
  top: 45%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 25px;
}

.post-slide .post-content {
  background: #fff;
}

.post-slide .post-title {
  margin: 8px 0 5px 0;
}

.post-slide .post-title a {
  font-size: 15px;
  font-weight: bold;
  color: #333;
  display: inline-block;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}

.post-slide .post-title a:hover {
  text-decoration: none;
  color: #3498db;
}

.post-slide .post-description {
  line-height: 24px;
  color: #808080;
  font-size: 13px;
}

.owl-carousel .owl-buttons {
  text-align: center;
  margin-top: 20px;
}

.owl-carousel .owl-buttons .owl-prev {
  background: #fff;
  position: absolute;
  top: -13%;
  left: 15px;
  padding: 0 18px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease 0s;
}

.owl-carousel .owl-buttons .owl-next {
  background: #fff;
  position: absolute;
  top: -13%;
  right: 15px;
  padding: 0 18px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: background 0.5s ease 0s;
}

.owl-carousel .owl-buttons .owl-prev:after,
.owl-carousel .owl-buttons .owl-next:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}

.owl-carousel .owl-buttons .owl-next:after {
  content: "\f105";
}

@media only screen and (max-width:1280px) {
  .post-slide .post-content {
    padding: 10px;
  }
}

small {
  letter-spacing: 1.3px;
}

.box {
  display: block;
  vertical-align: top;
  margin-bottom: 6px;
}

.box .content {
  position: relative;
  overflow: hidden;
  display: block;
}

.box .content .overlay.blue-mid {
  background: -webkit-line fetar-gradient(top, rgba(40, 101, 182, 0.03) 31%, rgba(40, 101, 182, 0.03) 34%, rgba(40, 101, 182, 0.6) 65%, #2865b6 100%);
  background: linear-gradient(to bottom, rgba(40, 101, 182, 0.03) 31%, rgba(40, 101, 182, 0.03) 34%, rgba(40, 101, 182, 0.6) 102%, #2865b6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#082865b6', endColorstr='#2865b6', GradientType=0);
}

.box .content .overlay.show {
  opacity: 1;
}

.box .content .overlay {
  display: block;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s;
}

.box .content .text {
  position: absolute;
  padding-right: 20px;
  padding-left: 20px;
  text-align: left;
  color: white;
  left: 0;
  bottom: 10px;
  transition: padding 0.3s;
}

.box .content .text .title {
  font-size: 1.3125em;
  line-height: 1.2em;
  font-weight: 600;
}

.box .content .text .strapline {
  opacity: 0;
  display: block;
  height: 0px;
  margin-top: 10px;
  line-height: 1.3em;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
}

.box .content .overlay.navy {
  background-image: linear-gradient(rgba(0, 33, 71, 0.6) 0%, rgba(0, 33, 71, 0.9) 70%, #002147 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99002147', endColorstr='#002147', GradientType=0);
}

.box .content .image {
  display: block;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 45vw;
  min-height: 170px;
  max-height: 250px;
}

.box .content:hover .overlay.show {
  opacity: 0;
}

.box .content:hover .text.has-strapline {
  padding-bottom: 0;
}

.content:hover .text.has-strapline .strapline {
  opacity: 1;
  height: 70px;
}
.top-hostel .content:hover .text.has-strapline .strapline 
{
  height: 30px;
}

.box .content:hover .overlay {
  opacity: 1;
}

.location-booking .col-xl-4,
.location-booking .col-xl-8 {
  padding: 0rem .2rem;
}

.support {
  background: #31363f;
  padding: 4rem 0;
  color: #fff;
}

.support .container {
  width: 80%;
}

.support h2 {
  color: #4CAF50;
}

.support .supporticon {
  text-align: center;
  margin-bottom: 1rem;
}

.support .supporticon i {
  font-size: 5rem;
}

.modal-backdrop.show {
  opacity: .7;
}

.login_box {
  position: absolute;
  left: 84%;
}

.login_box .user {
  background: rgb(255, 255, 255, 0.3);
  padding: .3rem .8rem;
  border-radius: 5px;
  transition: .3s;
}

.login_box:hover .user {
  background: rgb(242, 86, 33);
  transition: .3s;
}

.login_box:hover .user i {
  color: #fff;
  transition: .3s;
}

.login_box .user i {
  font-size: 18px;
  transition: .3s;
  color: #4CAF50;
}

.modal-content {
  background: transparent!important;
}

.img_user {
  background: rgba(255, 255, 255);
  position: relative;
  border-radius: 10px;
  clip-path: polygon(50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  font-family: 'Comic Neue', cursive;
}

.modal-dialog {
  margin-top: 7rem;
}

.img_user .container {
  padding: 2.5rem 5rem 4rem;
}

.img_user .container .user_box {
  padding: 1rem 1rem;
  position: relative;
  z-index: 11111;
  background: rgb(242, 86, 33);
  border-radius: 10px;
  transition: .3s;
}

.img_user .container .user_box:hover {
  -webkit-box-shadow: 0px 10px 24px 0px rgba(199, 199, 199, 1);
  -moz-box-shadow: 0px 10px 24px 0px rgba(199, 199, 199, 1);
  box-shadow: 0px 10px 24px 0px rgba(158, 158, 158, 1);
  transition: .3s;
  transform: scale(1.05);
}

.img_user .container .user_box h4 {
  font-size: 20px;
  margin-top: .8rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 1px 0 #3c3c3c;
}

.img_user .container a {
  text-decoration: none;
}

.modal-dialog {
  width: 700px!important;
  max-width: 700px!important;
}

.modal .close {
  position: absolute;
  right: 15px;
  /*top: 5px;*/
  font-size: 47px;
  outline: none!important;
  color: #4CAF50;
}

footer h6 {
  color: #636c7e;
  font-size: 14px;
  font-weight: 700;
}

.footer_bg {
  background: #f1f2f4;
  padding: 3rem 0 .3rem;
}

.footer_bg .container {
  width: 80%;
}

footer .footer_link {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer .footer_link li {
  display: block;
}

footer .footer_link li a {
  color: #636c7e;
  font-size: 14px;
}

footer .footer_link.social li {
  display: inline-block;
  padding-right: .6rem;
}

footer .footer_link.social li a {
  font-size: 30px;
}

footer .copyright p {
  font-size: 14px;
  color: #636c7e;
}


/* Dropdown Button */

.increase_decrease {
  padding: 13px;
}

.dropdown-content .month_list {
  padding: 1rem 1.4rem;
  width: 100%;
}

.number_increase_decrease {
  width: 100%;
  border-color: #4CAF50;
  border-radius: 7px;
  color: #4CAF50;
  border: 1px solid #4CAF50;
  height: 50px;
  font-size: 15px;
  display: flex;
  align-items: center;
}


/* The container <div> - needed to position the dropdown content */

.increase_decrease {
  position: relative;
  cursor: pointer;
}

.number_increase_decrease:hover {
  border: 1px solid #f25621!important;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #ddd
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
  display: block;
}

.form_five {
  width: 16%!important;
}

.form_small {
  width: 49%!important;
  margin-bottom: .5rem;
}


/*--google -- translate--*/

#google_translate_element {
  position: absolute;
  left: 61.7%;
}

#google_translate_element span {
  display: none;
}

.goog-te-gadget {
  color: transparent!important;
}

.goog-te-gadget .goog-te-combo {
  padding: .6em .3rem;
  width: 87%;
}

.goog-te-banner-frame {
  display: none!important;
}

.goog-te-gadget .goog-te-combo {
  background: rgb(255, 255, 255, 0.3);
  border: none;
  margin: 0!important;
  border-radius: 5px;
  outline: none;
}


/*.goog-te-gadget .goog-te-combo option:nth-child(1)
{
  display: none!important;

}*/

select.goog-te-combo option {
  padding: 1rem!important;
  color: #000!important
}

select.goog-te-combo {
  color: #fff;
  font-family: 'Comic Neue', cursive;
  letter-spacing: .6px;
}

footer .footer_link.mobile_inline li {
  display: inline-block!important;
  padding-right: .8rem;
}

.property_header,
.pager_header {
  background: #313131;
  padding: 1rem 0;
}

.customer_form {
  background: #f4f4f4;
  padding: 4rem 0;
}


/*--property--form--*/

.property_form {
  background-color: #fff;
  padding: 20px 0 1px;
  /*box-shadow: 1px 1px 15px 0 rgb(241, 241, 241);*/
  position: relative;
}

.property_form .heading {
  color: #666;
  font-size: 35px;
  text-align: center;
  margin: 0 0 30px 0;
}

.property_form .form-group {
  width: 80%;
  margin: 0 auto 10px;
  position: relative;
}

.property_form .form-group>i {
  color: rgba(0, 0, 0, 0.2);
  font-size: 25px;
  position: absolute;
  left: 8px;
  top: 7px;
}

.property_form .form-group button a {
  color: #fff;
}

.property_form .form-control {
  color: #4CAF50;
  font-size: 14px;
  height: 42px;
  padding: 6px 8px 6px 40px;
  box-shadow: none;
  border-radius: 0;
}

.form-control::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-size: 15px;
}

.property_form .form-control:focus {
  box-shadow: none;
  border-color: #4CAF50;
}

.property_form .form-terms {
  color: #909090;
  font-size: 14px;
  width: 80%;
  font-family: 'Comic Neue', cursive;
  margin: 20px auto 18px;
}

.property_form .form-terms input[type="checkbox"] {
  margin: 3px 5px 0 0;
  display: inline-block;
}

.property_form .form-terms a {
  color: #3FA9F2;
}

.property_form .form-terms a:hover {
  text-decoration: underline;
}

.property_form .btn {
  color: #fff;
  background-color: #4CAF50;
  font-size: 16px;
  padding: 7px 30px;
  margin: 0 0 10px;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.5s;
}

.property_form .form-login {
  color: #909090;
  font-size: 14px;
  margin: 10px 0;
  /*display: inline-block;
    float: right;*/
}

.property_form .form-login a {
  color: #3FA9F2;
}

.property_form .form-footer {
  background-color: #313131;
  text-align: center;
  padding: 20px 25px 25px;
  margin-top: 3rem;
}

.property_form .form-footer:before {
  content: 'OR';
  color: #4CAF50;
  background-color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 45px;
  height: 50px;
  font-family: 'Comic Neue', cursive;
  width: 50px;
  margin: -35px auto 0;
  border: 3px solid #4CAF50;
  border-radius: 50%;
  display: block;
}

.property_form .form-footer span {
  color: #fff;
  font-size: 13px;
  margin: 15px 0 10px 0;
  display: block;
  font-family: 'Comic Neue', cursive;
}

.property_form .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.property_form .social li {
  display: inline-block;
  margin: 0 3px;
}

.property_form .social a {
  color: #4CAF50;
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  height: 40px;
  text-decoration: none;
  width: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: all 0.5s;
}

.property_form .social a:hover {
  color: #fff;
  background-color: #f25621;
  border-color: #fff;
}

@media screen and (max-width:576px) {
  .property_form .form-group .btn,
  .property_form .form-group .form-login {
    text-align: center;
    display: block;
    float: none;
    margin: 0 auto 15px;
  }
}


/*--property-form--end--*/


/*--customer--*/

.customer_form .tab {
  position: relative;
  font-family: 'Comic Neue', cursive;
}

.customer_form .tab .nav-tabs {
  border-bottom: none;
  padding: 1rem 20px;
  background: #313131;
  position: relative;
}

.customer_form .tab .nav-tabs li {
  margin: 0 30px 0 0;
}

.customer_form .tab .nav-tabs li a {
  font-size: 18px;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  background: transparent;
  padding: 0;
  margin-right: 0;
  border: none;
  border-bottom: 2px solid transparent;
  opacity: 0.5;
  position: relative;
  transition: all 0.5s ease 0s;
}

.customer_form .tab .nav-tabs li a:hover {
  background: transparent;
}

.customer_form .tab .nav-tabs li a.active,
.customer_form .tab .nav-tabs li a.active:focus,
.customer_form .tab .nav-tabs li a.active:hover {
  border: none;
  background: transparent;
  opacity: 1;
  text-decoration: none;
  border-bottom: 7px solid #4CAF50;
  color: #fff;
}

.customer_form .tab .tab-content {
  background: transparent;
  z-index: 0;
  position: relative;
}

.register_section .why_property {
  border-right: 1px solid #cccccc;
}

.register_section .why_property:last-child {
  border-right: 0px!important
}

.register_section .why_property h6 {
  color: #4CAF50;
  font-size: 13px;
  font-weight: 700;
}

.register_section .why_property i {
  font-size: 40px;
  padding: .8rem 0;
}

.register_section .why_property p {
  font-size: 15px;
}

.property_banner_bg {
  position: relative;
  color: #fff;
}

.property_banner_bg .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.property_banner_bg .container .number {
  background: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 30px 40px 10px;
  display: inline-block;
  border: 4px solid white;
}

.property_banner_bg h3 {
  font-weight: 700;
}

.property_banner_bg .container h5 {
  font-weight: 700;
}

.property_banner_bg .img_banner_property {
  width: 100%;
  min-height: 295px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background: #31363f;
  text-align: center;
  border-bottom: 2px solid #313131;
}

.property_banner_bg .img_banner_property:before {
  content: "";
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#111111', GradientType=0);
  width: 100%;
  min-height: 280px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.condition p {
  font-size: 13px;
  color: #6f6f6f;
  font-family: 'Comic Neue', cursive;
}


/*--customer--*/

.footer-corp {
  background: #313131;
  text-align: center;
  padding: 1rem;
  color: #efefef;
  font-size: .75rem;
}

.progressbar {
  background-color: #444;
  color: #fff;
  font-size: .75rem;
  padding-top: .5rem;
  padding-bottom: .6rem;
}

.progressbar .progressbar_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.progressbar .progressbar_list ul li.section-selected {
  color: #ff7346;
  font-weight: bold;
}

.progressbar .progressbar_list ul li {
  font-size: .8rem;
  margin-right: .5rem!important;
  display: inline-block;
}

.progressbar .progressbar_list ul li span {
  display: inline-block;
}

.progressbar .progressbar_list ul li span i {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal!important;
  font-size: 1rem;
  top: 2px;
  position: relative;
}

.headersection_register {
  background-color: #555;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.headersection_register .stepshow {
  font-size: 1.1rem;
  color: #ccc;
}

.headersection_register h1 {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 1rem;
}

.form_start .container .form_bg {
  border: 1px solid #eaeaea;
  background-color: #f4f4f4;
  padding: .8rem;
}

.form_start .container .form_bg .required {
  font-size: .9rem;
  color: #333;
}

.form_start .container .form_bg .col-md-6,
.form_start .container .form_bg.checkbox .col-md-3,
.form_start .container .form_bg.check_in_check_out .col-md-12 {
  margin-bottom: 1rem;
}

.form_start .container .form_bg .form-control:focus,
.form-control:focus {
  border: 1px solid #4CAF50;
  box-shadow: none;
}

.form_start .container .form_bg sub {
  font-style: italic;
  bottom: 0rem;
}

.form_start .container .form_bg .form_select option,
.form_start .container .form_bg .form_select,
.form_start .container .form_bg.check_in_check_out select {
  font-size: .9rem;
}

.form_start .container .form_bg .input_description {
  margin-top: 1.6rem;
}

.form_start .container .form_bg #textarea_feedback {
  font-size: 13px;
  margin-top: .8rem;
}

.form_start .container .form_bg.checkbox label {
  padding-left: 20px;
  font-size: .9rem;
}

.form_start .container .form_bg.checkbox label input {
  position: absolute;
  left: 14px;
  top: 6px;
}

.form_start .container .form_bg.check_in_check_out select {
  padding: .5rem;
  border-radius: .25rem;
  width: 160px;
}

.form_start h4 {
  font-size: 21px;
  color: #444;
}

.register_section {
  background: #31363f;
  color: #fff;
  padding: 3rem 0;
}

nav .breadcrumb {
  background: none;
  padding: .3rem 0rem 0;
}

nav .breadcrumb .breadcrumb-item {
  font-size: 13px;
}
nav .breadcrumb .breadcrumb-item a
{
  color: #6c757d;
}

.footer_section_heading_p h2, .booking-details-page h2 {
  font-weight: 700;
}

.footer_section_heading_p p {
  font-size: .9rem;
}

.footer_section_heading_p h4,
.footer_section_heading_p h6,
.footer_section_heading_p h5 {
  font-weight: 700;
}

ul.list li {
  padding-bottom: .7rem;
}


/*--hostels--css--*/

.inner_page_banner {
  position: relative;
  height: 60vh;
  color: #fff;
}

.inner_page_banner.first-page-section {
  height: 75vh;
}

.inner_page_banner .banner_color_on {
  /*background: url(../images/slide3.jpg);*/
}

.inner_page_banner .banner_color_on {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inner_page_banner:after {
  pointer-events: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, transparent 14.25rem, transparent 50%, rgba(0, 0, 0, .7));
}

.inner_page_banner .upper-top {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  top: 25%;
}

.inner_page_banner .upper-top.second-page {
  top: 45%;
}

.inner_page_banner .upper-top.first-page {
  top: 55%;
}

.inner_page_banner .upper-top .badge.badge-blue {
  background-color: #0485ca;
  cursor: pointer;
}

.inner_page_banner .upper-top .badge.badge-blue i {
  font-size: 22px;
}

.inner_page_banner .container.breadcrumb_innerpage nav li,
.inner_page_banner .container.breadcrumb_innerpage nav li a {
  color: #fff;
}

.inner_page_banner .container.breadcrumb_innerpage nav li:before {
  color: #fff;
}

.inner_page_banner .container.inner_page_heading h2 {
  font-weight: 900;
  color: #fff;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-shadow: 0px 0px 4px #474747;
}

.inner_page_banner .container.inner_page_heading p {
  font-size: 12px;
}

.inner_page_banner .container.inner_page_heading p a {
  color: #fff;
}

.inner_page_service {
  background-color: #313131;
}

.inner_page_service .container {
  padding: 1.2rem 15px;
}

.inner_page_service .inner_page_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inner_page_service .inner_page_ul li {
  display: inline-block;
  border-right: 1px solid #565656;
  padding: 0rem 1rem;
  font-weight: 600;
}

.inner_page_service .inner_page_ul li:first-child {
  padding-left: 0;
}

.inner_page_service .inner_page_ul li:last-child {
  border-right: none;
}

.inner_page_service .inner_page_ul li a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.inner_page_service p {
  color: #fff;
  font-size: 14px;
}

.inner_page_service p:hover,
.inner_page_service p:hover a {
  color: #ff622e;
  transition: .3s;
}

.inner_page_service p a {
  color: #fff;
  transition: .3s;
  position: relative;
  top: -4px;
  text-decoration: none;
}

.inner_page_service p i {
  margin-left: .6rem;
  position: relative;
  top: 0rem;
  font-size: 25px;
}


/*--reviews--css--*/

.rating-summary {
  display: inline-flex;
}

.rating-summary .score {
  padding: .5rem;
  background-color: #ff7547;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 700;
  border-radius: .188rem;
  color: #fff;
  float: left;
  line-height: 1;
  min-width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-summary.rating-small .info .keyword {
  font-size: .9rem;
}

.reviews-date {
  flex: 1;
  color: #888;
  font-size: .9rem;
  text-align: right;
}

.fa+span {
  margin-left: .25rem;
}

.rating-summary .info {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  margin-left: .8rem;
  flex-direction: column;
  justify-content: center;
}

.rating-summary .info .keyword {
  font-size: 1rem;
  font-weight: 700;
  color: #ff7547;
}

.rating-summary .info .counter {
  font-size: .65rem;
  display: inline-flex;
  align-items: center;
}

.rating-summary .info .counter a {
  color: #ff7547;
  text-decoration: none;
  font-weight: 700;
}

.small-a a,
.more-conetnt-show,
#show-more-btn {
  font-size: 13px;
  color: #ff7547;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}


/*--reviews--bar-css--*/

.progress {
  height: 7px;
  border-radius: 5px;
  box-shadow: none;
  line-height: 35px;
  background: #d6d6d6;
}

.reviews-title {
  color: #444;
  font-size: 13px;
  margin: 5px 0 8px;
}

.review-value {
  float: right;
  display: block;
  font-weight: 800;
}

.progress .progress-bar {
  animation: progress 3s;
  background-color: #ff7547;
}

@-webkit-keyframes progress {
  0% {
    width: 0%;
  }
}

@keyframes progress {
  0% {
    width: 0%;
  }
}

.rating-description {
  background: linear-gradient(#f4f4f4, #fff);
  padding: 2rem 0 0;
}

.rating-factors {
  padding: 1rem 0;
  border-bottom: 1px dotted #ccc;
  margin-left: 0;
  margin-bottom: 1rem;
}

.ms-rating-summary-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}

.rating-factors .rating-factors-item {
  list-style: none;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.rating-factors .rating-factors-item:last-child {
  margin-bottom: 0;
}

.rating-factors .rating-factors-item .badge.badge-circle {
  width: 1.563rem;
  height: 1.563rem;
}

.badge.badge-red {
  background: #fd5951;
  color: #fff;
}

.badge.badge-circle {
  border-radius: 50%;
  width: 2.813rem;
  height: 2.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  display: inline-flex;
  border-radius: .188rem;
  padding: .5rem;
  background: #ccc;
  color: #fff;
  align-items: center;
}

.rating-factors .rating-factors-item .badge.badge-circle i {
  font-size: .8rem;
}

.badge.badge-red a,
.badge.badge-red i {
  color: #fff;
}

.rating-factors .rating-factors-item .badge+.rating-factors-label {
  margin-left: .5rem;
}

.rating-factors .rating-factors-item .rating-factors-label {
  font-size: .9rem;
}

.badge.badge-circle.badge-green {
  background-color: #00c08a;
}

.badge.badge-green {
  background: #00c08a;
  color: #fff;
}

.badge.badge-light-blue {
  background: #00d4f9;
  color: #fff;
}
.badge.badge-light-orange
{
  background-color: #f7b115;
}
.badge.badge-light-dark-blue
{
  background-color: #0013f9;
}
.badge.badge-light-purple
{
  background-color: #f9007f;
}


.rating-description .description h4 {
  color: #444;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.rating-description .description p {
  font-size: .9rem;
}

.rating-description .description .more-content-off a {
  font-weight: 600;
  font-size: .8rem;
  text-decoration: none;
}

.rating-description .description .more-content-off p {
  margin-bottom: .1rem;
}

.rating-description .description .more-content-off i {
  margin-right: .5rem;
}

.rating-description .hostel-rule-url {
  display: block;
  color: #ff7547;
  cursor: pointer;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-top: 1px dotted #ccc;
}

.more-content-off {
  display: none;
}

.gallery .demo-gallery ul li {
  width: 5.777%;
  display: inline-flex;
  flex-wrap: wrap;
  margin: .2rem;
}

.gallery .demo-gallery ul li:hover a img,
.gallery-item.gallery-item-room:hover img {
  opacity: .7;
  cursor: pointer;
}

[class^="swiper-button-"],
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
  transition: all 0.3s ease;
}

.swiper-container {
  width: 100%;
  height: auto;
  transition: opacity 0.6s ease;
}

.swiper-container.swiper-container-coverflow {}

.swiper-container.loading {
  opacity: 0;
  visibility: hidden;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide .entity-img {
  display: none;
}

[class^="swiper-button-"] {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}

.swiper-button-prev {
  transform: translateX(50px);
}

.swiper-button-next {
  transform: translateX(-50px);
}

.availability {
  background-color: #f4f4f4;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 2.5rem 0;
}

.availability .availability-list .table tbody {
  background-color: #fff;
}

.gallery-item.gallery-item-room {
  height: auto;
  padding: 0;
  overflow: hidden;
}

.gallery-item.gallery-item-room img {
  border-radius: 3px;
}

.gallery-item.gallery-item-room .image-gallery {
  position: absolute;
  top: 4.5rem;
  z-index: 10;
  right: 2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  background-image: url(../images/image-gallery.svg);
  background-size: 1rem;
  background-position: 0;
  background-repeat: no-repeat;
  filter: drop-shadow 1px 1px 1px rgba(0, 0, 0, .2);
}

.text-small {
  font-size: .8rem;
}

.cell-room-wrapper p .room-title {
  font-weight: bold;
  font-size: 0.75rem;
}

.cell-room-wrapper p a i {
  color: #ff7547;
  cursor: pointer;
}

.badge.badge-dark-green {
  background: #1b9316;
  color: #fff;
}

.badge-availability {
  margin-top: 4px;
  background-color: #e1f1fb!important;
  padding: .4rem!important;
}

.badge {
  display: inline-flex;
  border-radius: .188rem;
  padding: .5rem;
  background: #ccc;
  color: #fff;
  align-items: center;
}

.badge.badge-outline-blue {
  background: transparent;
  border: 1px solid #0485ca;
  color: #0485ca;
}

.badge.badge-small {
  font-size: .65rem;
  line-height: .65rem;
  padding: .25rem;
}

.padding-none {
  padding: 0 .5rem;
}

.room-type-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.room-type-columns-title {
  font-size: 12px;
  font-weight: 600;
}

.room-price {
  display: inline-block;
}

.room-price .rate-type-price {
  font-size: 14px;
  font-weight: 600;
}

.price-includes-tax-label {
  font-size: 12px;
}

.text-small {
  font-size: 12px;
}

.hide-for-small.btn-link {
  color: #444;
  font-weight: 700;
  text-decoration: none;
}

a.hide-for-small.btn-link:hover {
  color: #7d7d7d;
}

.availability select {
  font-size: .9rem;
}

.night-breakdown {
  margin: 0.5rem 0 0;
  padding-top: 8px;
  padding: 0;
  border-top: 1px dotted #ccc;
}

.night-breakdown li {
  display: inline-block;
  border-radius: 0.188rem;
  padding: 0.5rem .2rem 0.5rem 0.2rem;
}

.night-breakdown li.highlighted {
  background-color: #444444;
  color: #fff;
}

.night-breakdown li .date {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.night-breakdown li .price {
  font-size: .8rem;
  font-weight: 600;
}

.my-selection-container .my-selection-dates,
.my-selection-resume {
  border: 2px solid #dedede;
  border-bottom: none;
  padding: 16px;
}

.my-selection-dates .info span.text-increase {
  font-size: 17px;
}

.my-selection-dates .info a {
  color: #ff7547;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.my-selection-resume {
  background: white;
  border: 2px solid #dedede;
}

.my-selection-resume ul {
  list-style: none;
  padding: 0;
  font-size: .9rem;
  font-family: 'Comic Neue', cursive;
}

.my-selection-resume ul li {
  margin-top: .5rem;
}

.my-selection-resume ul li .fa {
  font-size: 13px;
  margin-right: 8px;
  height: 1rem;
  width: 1rem;
  text-align: center;
}

.my-selection-container .my-selection-dates .booking_part {
  margin: 0;
  transition: all 0.4s ease 0s;
}

.my-selection-container .my-selection-dates .booking_part .booking_content {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}

.my-selection-container .my-selection-dates .booking_part .form-row .form_colum .gj-textbox-md,
.my-selection-container .my-selection-dates .booking_part .form-row .form_colum .number_increase_decrease {
  border-radius: 5px;
  background-color: #fff;
  border: none;
}

.my-selection-container .my-selection-dates .booking_part .form-row .form_colum .dropdown-content .month_list {
  padding: 1rem 1.1rem;
}

.my-selection-container .my-selection-dates .booking_part .form-row .form_colum label {
  font-size: .8rem;
  font-weight: 600;
}

.booking_part.info-dates {
  display: none;
}

.booking_part.info-dates.active {
  display: block;
}

.info.off.active {
  display: none;
}

#info-close {
  position: absolute;
  right: 0;
  font-size: 20px;
}

.pay-methods .cardicon {
  width: 34px;
  height: 24px;
  background-image: url(../images/sprite_general.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.pay-methods .Visa {
  background-position: left -60px;
}

.pay-methods .Mastercard {
  background-position: left -126px;
}

.pay-methods span {
  margin-right: .3rem;
}

.reviews-rating .rating-large .info .keyword {
  font-size: 21px;
}

.border-dotted {
  border-bottom: 1px dotted #ccc;
}

.reviews-rating .rating-large .info .counter {
  font-size: 12px;
}

.reviews-rating .rating-small .score {
  font-size: .9rem!important;
}

.reviews-rating .reviews-date {
  margin-top: .3rem;
}

.reviews-rating .reviews-text {
  font-size: .9rem;
}

#show-more-content {
  height: 125px;
  display: block;
  overflow: hidden;
  word-break: break-word;
  word-wrap: break-word;
}

#show-more-btn {
  display: none;
  text-decoration: none;
}

.facility-group-header {
  padding: 0rem 0 1rem;
  border-bottom: 1px dotted #ccc;
  color: #0485ca;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.row.facility-group-items {
  list-style: none;
  padding: 0;
  margin-top: .7rem;
  font-size: .9rem;
}

.row.facility-group-items .col-xl-3 {
  margin-bottom: 1rem;
}

#facilities {
  padding: 3rem 0 0 0;
}

.house-rules-outer p,
.house-rules-outer p b {
  font-size: .9rem;
}

.house-rules-outer p {
  margin-bottom: 0;
}

.house-rules-outer h5 i {
  color: #ff7547;
  margin-right: 1rem;
  font-weight: 400;
}

.house-rules-outer ul {
  list-style: none;
  padding: 0;
  font-size: .9rem;
}

.house-rules-outer ul li {
  width: 100%;
  float: left;
  list-style-position: inside;
  margin-top: .5rem;
}

.house-rules-outer ul>li i.fa {
  margin-right: .5rem;
}

.house-rules-outer .no-check-out {
  background-color: #dcf9f7;
  position: relative;
  border-radius: .25rem;
  clear: none;
  width: 13rem;
  height: 5rem;
  padding: 1rem 2rem;
  float: right;
}

.house-rules-outer .no-check-out .hostel-rules-check-in .hostel-rules-check-in-out-icons {
  text-align: left;
  margin: 0;
  width: 3rem;
  float: left;
}

.house-rules-outer .no-check-out .hostel-rules-check-in .hostel-rules-check-in-out-icons .fa-arrow-right {
  color: #09c869;
  font-size: 1rem;
  vertical-align: middle;
}

.house-rules-outer .no-check-out .hostel-rules-check-in .hostel-rules-check-in-out-icons .fa-clock-o {
  color: #1a9990;
  font-size: 1.5rem;
  vertical-align: middle;
}

.house-rules-outer .no-check-out .hostel-rules-check-in .hostel-rules-check-in-out-info {
  float: left;
  width: auto;
  font-size: .9rem;
  text-align: left;
}

.house-rules-outer .no-check-out .hostel-rules-check-in .hostel-rules-check-in-out-info .hostel-rules-check-in-out-label {
  font-weight: 700;
}

.increase_decrease input {
  overflow: hidden;
  border: none;
  outline: none;
  width: 100%;
  color: #4CAF50;
}

.form_btn.form_small .btn_1 {
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.reviews-rating {
  padding: 3rem 0 0 0;
}

#mySidenav li.active {
  background: rgb(242, 86, 33);
}

.first-page-property-type {
  background-color: #f3f3f3;
  padding: 1rem 0;
}


/*--vertical-tab--*/

.property-location {
    
  padding: 3rem 0;
}

#accordion .card {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 15px;
  cursor: pointer;
  position: relative;
}

#accordion .card:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  border: 1px dotted #6e8898;
  position: absolute;
  top: 25px;
  left: 18px;
}

#accordion .card:last-child:before {
  display: none;
}

#accordion .card-header {
  padding: 0;
  border: none;
  border-radius: 0;
  position: relative;
}

#accordion .card-header span {
  display: block;
  padding: 10px 30px 10px 60px;
  margin: 0;
  background: #fff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1px;
  color: #1d3557;
  border-radius: 0;
  position: relative;
}

#accordion .card-header span:before,
#accordion .card-header span.collapsed:before {
  content: "\f107";
  font-family: "FontAwesome";
  font-weight: 900;
  width: 40px;
  height: 100%;
  line-height: 40px;
  background: #4CAF50;
  border: 1px solid #4CAF50;
  border-radius: 3px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

#accordion .card-header span.collapsed:before {
  content: "\f105";
  background: #fff;
  border: 1px solid #4CAF50;
  color: #4CAF50;
}

#accordion .card-body {
  padding: 10px 30px 10px 20px;
  margin-left: 40px;
  background: #fff;
  border-top: none;
  font-size: 15px;
  color: #6f6f6f;
  line-height: 28px;
  letter-spacing: 1px;
}

.property-location #accordion .card-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: .8rem;
  font-weight: 600;
  column-count: 6!important;
  margin-bottom: 1rem;
}
.property-location #accordion .card-body ul li a
{
  color: #000;
  text-decoration: none;
}
.property-location #accordion .card-body ul li a:hover, .other-location ul li a:hover
{
  color: #4CAF50;
}
.top-hostel .hostel-name {
  margin-bottom: 0;
  font-size: .9rem;
  font-weight: 600;
}

.top-hostel p,
.top-cities-worldwide p {
  font-size: .9rem;
}

.top-hostel .tophostels_address {
  font-size: .9rem;
}

.inner_page_service span {
  color: #fff;
  font-weight: 600;
}

.inner_page_service select {
  font-size: .9rem;
}

.property-location h4.hostels-name-heading {
  margin-bottom: 0;
}

.property-location span.propnumber,
.property-location p .price {
  color: #999;
  font-size: .8rem;
}

.property-location .cityresults_viewall,
.property-location .proname {
  font-size: .9rem;
  font-weight: 600;
}

.property-location .rating-small .score {
  padding: .4rem;
  font-size: .9rem!important;
  min-width: 2.4rem!important;
  margin-left: .8rem;
}

.search-property-city .container {
  background-color: #f1f2f4;
  padding: .4rem .7rem .7rem;
  border-radius: 4px;
  width: 85%;
}

.search-property-city span {
  font-size: .7rem;
}

.search-property-city select,
.other-location ul li a {
  font-size: .9rem;
}

.topcPrice p {
  font-size: .8rem!important;
}

.other-location ul {
  list-style: none;
  padding: 0;
  column-count: 6;
}

.other-location ul li {
  margin-bottom: .3rem;
}

.other-location ul li a {
  padding: 0 .7rem;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

.other-location ul li:first-child {
  border-left: none;
}

.map-location {
  height: 600px;
  margin-bottom: 3rem;
}

.filters .sub-nav {
  list-style: none;
}

.filters .sub-nav li {
  display: inline-block;
  margin-top: 1rem;
  margin-right: .9rem;
}

.filters .sub-nav li.name, .property-details p {
  font-size: .9rem;
}

.filters .sub-nav li.topfilter {
  align-items: center;
  padding: .6rem .9rem;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}
.filters .sub-nav li a
{
  text-decoration: none;
  color: #000;
}
.filters .sub-nav li.listtoggle.active {
  background-color: #fff!important;
  border-color: #ff7346!important;
}
.filters .sub-nav li.listtoggle.active a
{
  color: #ff7346!important;

}

.list-of-property .container {
  /*box-shadow: 0 1px 6px rgba(32, 33, 36, 0.2);*/
  background-color: #fff;
  border-radius: 5px;
}

.list-of-property .container .ht-property {
      padding: 30px 30px 30px;
    border-bottom: 1px solid #e8e8e8;
}

.list-of-property .container .ht-property .pricing {
  list-style: none;
  padding: 0;
}

.list-of-property .container .ht-property .pricing li {
  font-size: .9rem;
  font-weight: 600;
}

.list-of-property .container .ht-property .pricing li span a {
  color: #000;
  text-decoration: none;
}

.ht-property .hs-details p,
.ht-property .icon_freewifi,
.ht-property .addressline {
  font-size: .8rem;
}

.ht-property .property-name {
  font-size: .7rem;
  color: #999;
}

.ht-property a {
  text-decoration: none;
}

.ht-property .hs-details p a {
  font-weight: 600;
}

.ht-property .rating-summary .score {
  padding: 0;
  min-width: 3rem;
  font-size: 1rem;
}

.ht-property .addressline a {
  font-weight: 800;
  font-size: .7rem;
  text-transform: uppercase;
}

.ht-property .hostel-name {
  font-weight: 700;
  margin-bottom: 1rem;
}

.list-of-property .container .ht-property .pricing li .price {
  margin-left: .5rem;
}

.ht-property .rating-left-border {
  border-left: 2px solid #efefef;
}

.ht-property .row {
  height: 100%;
}

.ht-property .rating-factors {
  margin-bottom: 4rem;
  border: none;
}

.ht-property .rating-left-border .ht-quailty {
  padding: 0 .5rem;
}
.top-hostel h4.price
{
  font-size: 20px;

}
.top-hostel .box .content .text .title
{
  font-size: 1.1em;
}
.ht-property .wish-list {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: .3rem;
  z-index: 11;
}

.ht-property .facility-icon {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  margin-top: .5rem;
  color: #3075c0;
  font-weight: 600;
  font-size: .8rem;
}

.ht-property .facility-icon div:first-child {
  margin-left: 0;
}

.ht-property .facility-icon div {
  display: inline-block;
  margin-left: .5rem;
}

.ht-property .wish-list i {
  font-size: 20px;
  color: #fff;
}

.gallery-top,
.gallery-top2 {
  height: 80%;
  width: 100%;
  cursor: pointer;
}

.gallery-thumbs,
.gallery-thumbs2 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide,
.gallery-thumbs2 .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.gallery-thumbs .swiper-slide-thumb-active,
.gallery-thumbs2 .swiper-slide-thumb-active {
  opacity: 1;
}

.moreinfo {
  margin: 0;
  position: absolute;
  right: 2.2rem;
  bottom: 0rem;
  width: 215px;
}

.moreinfo:after {
  content: '\f054 ';
  font-family: FontAwesome;
  color: #fff;
  font-size: .85rem;
  margin-left: .5rem;
  display: inline-block;
}
/*pagination-css--*/
.pagination{
    display: inline-flex;
    position: relative;
    margin-bottom: 0;
}
.pagination li a.page-link{
    color: #4CAF50;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 20px;
    height: 40px;
    width: 40px;
    margin: 0 15px 0 0;
    border: 1px solid #4CAF50;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}
.pagination li.active a.page-link,
.pagination li a.page-link:hover,
.pagination li.active a.page-link:hover{
    color: #fff ;
    background-color: #4CAF50;
    border-color: #4CAF50;
}
.pagination li a.page-link:before,
.pagination li a.page-link:after{
    content: '';
    background-color: #4CAF50;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transform: scale(0) rotateX(360deg);
    position: absolute;
    left:0 ;
    top: 0;
    z-index: -1;
    transition: all 0.3s;
}
.pagination li a.page-link:after{
    background-color: transparent;
    border-radius: 0;
    transform: scale(0.7);
    transition-delay: 0.1s;
}
.pagination li a.page-link:hover:before{
    border-radius: 0;
    transform: scale(1) rotateX(0);
}
.pagination li a.page-link:hover:after{
    background-color: #e44251;
    opacity: 0;
    transform: scale(1.5);
}
.booking-confirmation.active
{
  display: block;
}
.booking-confirmation
{
  display: block;
}
.booking-heading h6
{
  font-size: 14px;

} 
.book-now
{
  background: #4CAF50;
  display: block;
  padding: 1rem;
  border-radius: 0px;
  font-weight: 700;
  outline: none!important;
  border: none;
}
.book-now:hover
{
  background: #e44009!important;
  color: #fff;
}
.booking-details-page table th, .booking-details-page table td
{
    border: 1px solid #bdbdbd;
    padding: 1rem;
}
.booking-details-page tfoot
{
  background: #f5f5f5;
}
.booking-details-page tfoot td
{
  border:none;
  padding: .4rem 1rem!important;
  border: 1px solid #bdbdbd;
}
.booking-details-page tfoot td:nth-child(1), .booking-details-page tfoot td:nth-child(2)
{
  border:none;
}
.booking-details-page tfoot td h6
{
  margin-bottom: 0;
  font-size: 15px;
}
.booking-details-page table td
{
      padding: 2rem 1rem;
}
.personal-details .container .bg, .payment-details .container .bg, .condition .container .bg
{
  background: #f5f5f5;
  padding: 1rem 15px;
}
.personal-details .form-control, .payment-details .form-control
{
  font-size: .9rem;
  height: calc(2.4em + .75rem + 2px);
  margin-bottom: 1rem;
}
.condition label
{
  margin-bottom: 1rem;
}
.payment-details ul
{
  list-style: none;
}
.payment-details ul .paymethods
{
  margin-top: .8rem;
}
.cardicon 
{
    width: 34px;
    height: 24px;
    background-image: url(../images/sprite_general.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.visa {
    background-position: left -60px;
}
.maestro {
    background-position: left -93px;
}
.mastercard {
    background-position: left -126px;
}
.paypal {
    width: 50px;
    background-position: left -256px;
}
.payment-details label
{
  font-size: .9rem;
   font-family: 'Comic Neue', cursive;
}
.payment-details input::placeholder, .personal-details input::placeholder
{
  color: #495057;
  font-size: .9rem;
}
.payment-details .checkbox input, .condition .checkbox input
{
  margin-right: .7rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 6px;
  background-color: #fff;
  position: relative;
}
.condition .checkbox label
{
  font-size: .9rem;
   font-family: 'Comic Neue', cursive;
}
.my-selection-resume .choose-your-room .room, .my-selection-resume .choose-your-room .price
{
  font-size: .9rem;
}
.my-selection-resume .choose-your-room .ht-name
{
  font-size: .84rem;
  font-weight: 600;
}
.my-selection-resume .choose-your-room #close-menu
{
  color: #444;
}
.my-selection-resume .choose-your-room .total-price, .my-selection-resume .choose-your-room .payable-now
{
  padding: 1rem 0;
}
.my-selection-resume .choose-your-room .payable-now
{
  background: #eafaf1;
}
.my-selection-resume .choose-your-room p
{
  margin-bottom: 0;
}
.my-selection-resume .choose-your-room .details
{
  padding: 0 0 1rem;
}
#user-dashboard
{
  background: #313131;
  position: relative;
}
#user-dashboard #google_translate_element 
{
  position: static;
}
#user-dashboard .login_box
{
  position: relative;
  left: inherit;
  margin-right: 1.4rem;
}
#user-dashboard .login_box .dropdown-menu 
{
  right: 0!important;
  left: inherit!important;
}
#user-dashboard .login_box .dropdown-menu a
{
  font-size: .84rem;
  text-transform: uppercase;
  border-bottom: 1px dotted #eaeaea;
  padding:.5rem 1rem;
}
#user-dashboard .login_box .dropdown-menu a:hover
{
  color: #4CAF50;
}
#user-dashboard .login_box .dropdown-menu a:last-child
{
  border-bottom: none;
}
#user-dashboard .login_box .user i
{
  color: #4CAF50;
}
#user-dashboard .login_box .user-name
{
  color: #fff;
  font-size: 11px;
  margin-right: .5rem;
  text-transform: uppercase;
}
#user-dashboard .login_box .user
{
  position: relative;
  background: rgba(0, 0, 0, 0.3);
}
#user-dashboard .login_box .fa.fa-check
{
  position: absolute;
  padding: 0;
  color: #4CAF50;
  top: -3px;
  left: 1px;
  line-height: 1rem;
  font-size: 0.65rem;
}
#user-dashboard #navbarSupportedContent
{
  display: inline-flex;
  margin-top: 1rem;
}
/*--dashboard css--*/
.avatar 
{
  width: 3.125rem;
  background: #ccc;
  height: 3.125rem;
  text-align: center;
  color: #fff;
  font-size: 3.5rem;
  overflow: hidden;
  border-radius: 50%;
}
.sidebar {
  background: #2d353d;
  font-size: 14px;
  height: 100%;
}
.sidebar .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar .nav.flex-column
{
  margin:1rem 0;
}

/* 2 */
.sidebar .nav > li.nav-profile {
  width: 100%;
  padding: 20px;
  color: #fff;
  background: #1a222a;
}

.sidebar .nav > li.nav-profile .image {
  float: left;
  margin-right: 15px;
}

.sidebar .nav > li.nav-profile .image img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar .nav > li.nav-profile .info {
  font-size: 16px;
}

.sidebar .nav > li.nav-profile .info p {
  display: block;
  color: #889099;
  font-size: 13px!important;
}

/* 3 */
.sidebar .nav > li.nav-header {
  padding: 10px 20px;
  line-height: 20px;
  font-size: 11px;
  color: #889099;
}

.sidebar .nav > li > a {
  color: #d2d2d2;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 16px;
  padding: .5rem 1.7rem;
}

.sidebar .nav > li.nav-item:hover, .sidebar .nav > li.nav-item.active{
  background: #232a2f;
  transition-duration: 0.2s;
}

.sidebar .nav > li > a:hover {
  transition-duration: 0.6s;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.sidebar .nav > li > a i {
  float: left;
  margin-right: 15px;
  margin-top: 4px;
}

.sidebar-minify {
  margin: 10px 0;
  float: right;
  padding: 5px 10px 10px 10px;
  background: #1b1f24;
  color: #fff;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.dashboard-ac .form_bg label
{
  font-size: .7rem!important;
  font-weight:700!important;
  text-transform: uppercase;
}
.dashboard-ac ul 
{
  list-style: none;
}
.dashboard-ac input::placeholder, .dashboard-ac input
{
  font-size: .9rem;
  color: #444;
}
.dashboard-ac .dash-bg
{
  background: white;
  margin: 0;
  padding: 1rem;
}
.dashboard-ac .booking-details .b-date
{
    padding: 11px 14px;
    text-align: center;
    margin-top: 6px;
    background: #efefef;
}
.dashboard-ac .booking-details .b-date h3
{
      color: #4CAF50;
      font-size: 2rem;
      margin-bottom: 0;
      font-weight: 800;
}
.dashboard-ac .booking-details .b-date p
{
  font-size: .9rem;
}
.dashboard-ac .booking-details .b-date p
{
  margin-bottom: 0;
}
.dashboard-ac .booking-details .booking-list-details h3
{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
}
.dashboard-ac .booking-details .booking-list-details .booking-info li
{
  font-size: .9rem;
  margin-bottom: .2rem;
}
.dashboard-ac .booking-details .booking-list-details .booking-info li span
{
  font-weight: 700;
}
.dashboard-ac .booking-details .booking-list-details .booking-info li .line
{
  margin: 0px 6px;
}

@media only screen and (max-width: 480px){
    .dashboard-tab .tab .nav-tabs > li{ width:100%; }
}
@media only screen and (max-width: 480px){
    .pagination{
        display: block;
        border-radius: 20px;
    }
    .pagination li{
        margin: 5px 2px;
        display: inline-block;
    }
    .pagination li a.page-link{ margin: 0; }
}
@media (max-width: 1023px) {
  .swiper-container {
    height: 40vw;
  }
  .swiper-container.swiper-container-coverflow {
    padding-top: 0;
  }
}


/*--media---*/

@media screen and (min-width: 320px) and (max-width: 768px) {
  .search_box {
    display: none;
  }
  .login_box {
    left: 68%;
  }
  .modal-dialog {
    width: 100%!important;
    margin: 0;
  }
  .container-fluid.banner_img .container .banner_text_iner h1 {
    font-size: 29px;
  }
  .banner_text_iner p {
    font-size: 13px!important;
  }
  /*.banner_text_iner .bannerbtn
  {
    margin-top: 2rem;
  }*/
  .container-fluid.banner_img img {
    height: 450px;
  }
  .booking_part .booking_menu .nav-tabs .nav-item .nav-link,
  .booking_part .booking_menu .nav-tabs .nav-link {
    padding: 28.5px 14px;
  }
  .btn_1,
  .btn_2 {
    width: 100%;
    text-align: center;
  }
  .booking_content .form_btn {
    display: contents;
  }
  .mobile_off {
    display: none;
  }
  footer .footer_link.social,
  footer .footer_link.mobile_inline {
    text-align: center;
  }
  footer .footer_link.social li {
    padding-right: 1rem;
  }
  footer .footer_link.mobile_inline li {
    display: inline-block;
    padding-right: .5rem;
    font-family: 'Comic Neue', cursive;
  }
  #mySidenav ul h6 {
    font-size: 16px;
    font-weight: 600;
  }
  .navbar-brand img {
    width: 210px!important;
  }
  .on_mobile {
    display: block!important;
    left: 30px!important;
    position: relative!important;
    width: 70%;
  }
  .desktop_off .list_property {
    position: relative!important;
    left: 50%!important;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 50%;
  }
  .desktop_off .list_property:hover {
    background: #4CAF50!important;
  }
  #goog-gt-tt {
    display: none!important;
  }
  .img_user .container {
    padding: 1rem 1rem 2rem;
  }
  .img_user .container .user_box img {
    max-width: 70px!important;
  }
  .img_user .container .user_box h4 {
    font-size: 12px!important;
    text-transform: uppercase;
    text-shadow: 0px 1px 0 #3c3c3c;
  }
  .register_section .why_property {
    border: none;
  }
  .property_banner_bg .img_banner_property img {
    display: none;
  }
  .property_banner_bg .container {
    position: relative;
    left: 0;
    right: 0;
    transform: translate(0);
    padding: 1rem;
    overflow: hidden;
  }
  .property_banner_bg .img_banner_property {
    display: none;
  }
  .property_banner_bg {
    background-image: url(../images/banner_1.jpg);
    height: 100%;
  }
  .property_banner_bg:before {
    content: "";
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(17, 17, 17, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(17, 17, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#111111', GradientType=0);
    width: 100%;
    min-height: 635px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
  }
  .progressbar {
    display: none;
  }
  .form_start .container {
    padding: 0;
  }
  nav .breadcrumb {
    display: none;
  }
  .inner_page_banner:after {
    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 0, transparent 10.25rem, transparent 20%, rgba(0, 0, 0, .7));
  }
  .inner_page_service .inner_page_ul li {
    font-weight: 300;
    padding: 0rem .7rem;
  }
  .inner_page_service .inner_page_ul li a {
    font-size: 14px;
  }
  .mobile_off_li,
  .mobile_off_td {
    display: none!important;
  }
  .table-bordered td {
    display: block;
  }
  .mobile_position_change {
    text-align: left!important;
  }
  .gallery-item.gallery-item-room .image-gallery {
    top: 3.5rem;
  }
  .row.facility-group-items {
    font-size: .8rem;
  }
  #reviews-wrapper.active,
  #hostel-wrapper.active,
  .house-rules-outer .no-check-out,
  .map-modal {
    width: 100%!important;
  }
  .house-rules-outer .no-check-out {
    margin-top: 1rem;
  }
  #reviews-wrapper .sidebar-nav .inner_nav .reviews-ul {
    margin-bottom: 1.5rem;
  }
  #reviews-wrapper .sidebar-nav .inner_nav label.form-label {
    margin-top: 1rem;
  }
  .map-modal {
    margin: 0!important;
    border-radius: 0!important;
    height: 100%!important;
  }
  .view-map {
    padding: 4rem 1rem!important;
  }
  .booking-confirmation,.booking-confirmation .mobile-padding-none
  {
    padding: 0;
  }
  .booking-confirmation .mobile-padding-none .btn.book-now
  {
    height: auto!important;
    line-height: normal;

  }
  .booking-details-page table
  {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .inner_page_banner .upper-top 
  {
    top: 20%;
  }
  .property_image .gallery-thumbs, .ht-property .hs-details, .rating-summary .info .counter
  {
    display: none;
  }
  .list-of-property
  {
    padding: 0;
  }
  .list-of-property .col-xl-3, .list-of-property .col-xl-8
  {
    padding: 0 10px;
  }
  .ht-property .hostel-name
  {
    font-size: 18px;
  }
}

@media screen and (min-width: 769px) {
  .desktop_off {
    display: none;
  }
  #goog-gt-tt {
    display: none!important;
  }
  #selection-fixed
  {
    right: 0;
  }
  #selection-fixed.fixedon
  {
    position: fixed;
    top: 0;
    bottom: 0rem;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #prices
  {
    position: relative;
    overflow: hidden;
  }
}

#map 
{
  height: 100%;
}

.map-box {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0.9;
  background: #222;
  z-index: 40000;
  top: 0;
  left: 0;
  overflow: hidden;
  animation-name: fadeIn_Container;
  animation-duration: 1s;
}

.map-modal {
  display: none;
  top: 0;
  min-width: 250px;
  width: 80%;
  height: 600px;
  margin: 0 auto;
  position: fixed;
  z-index: 40001;
  background: #fff;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 10%;
  font-family: 'Comic Neue', cursive;
  animation-name: fadeIn_Modal;
  animation-duration: 0.8s;
}

.map-header {
  width: 100%;
}

.map-header a {
  text-decoration: none;
  float: right;
  font-weight: bolder;
  line-height: 50px;
  margin-right: 20px;
  color: red;
  font-size: 25px;
}

.view-map {
  width: 100%;
  font-family: 'Comic Neue', cursive;
  height: 100%;
  padding: 4rem;
}

.wish_list {
  position: absolute;
  right: 7%;
  top: 5px;
}

.wish_list p a {
  margin-right: .5rem;
  position: relative;
  top: -4px;
}

.wish_list p i {
  font-size: 24px;
}

.mapnew {
  background-color: red;
  height: 400px;
}
.notification {
    padding: 18px 20px;
    border-radius: 4px;
    margin-bottom: 40px;
}
.notification.success {
    background: #4CAF50;
}
.notification p {
    color: #fff;
    font-size: .9rem;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0px;
}
.notification p a {
    color: rgba(255,255,255,0.71);
    font-weight: 600;
    padding: 0 5px;
}
.notification-close {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 20px;
    margin-top: -10px;
    color: rgba(255,255,255,0.71);
}
.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}
.statistic-container {
    margin-bottom: 20px;
}
.statistic-item-wrap {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
}
.gradient-bg{
    background-color: #3EAAFD;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3EAAFD), to(#49CEFF));
    background: -webkit-linear-gradient(top, #4CAF50, #ff4202);
    background: -moz-linear-gradient(top, #3EAAFD, #49CEFF);
    background: -ms-linear-gradient(top, #3EAAFD, #49CEFF);
    background: -o-linear-gradient(top, #3EAAFD, #49CEFF);
}
.statistic-item {
    padding: 20px 20px;
    border-radius: 6px;
}
.statistic-item i {
    font-size: 74px;
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: rgba(255,255,255,0.2);
}
.statistic-item-numder {
    font-weight: 800;
    font-size: 34px;
    padding-bottom: 10px;
}
.statistic-item h5, .statistic-item-numder {
    float: left;
    width: 100%;
    text-align: left;
    color: #fff;
}
.statistic-item h5
{
  font-size: .85rem;
}
.dashboard-list-box {
    border: 1px solid #eee;
    border-radius: 10px;
}
.dashboard-header {
    padding: 20px 30px;
    border-bottom: 1px solid #eee;
    background: #F8FBFE;
}
.dashboard-header h3 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
}
.dashboard-list-box.activities .dashboard-list {
    padding-left: 0;
}
.dashboard-list {
    float: left;
    padding: 25px 30px;
    position: relative;
    border-bottom: 1px solid #eee;
    width: 100%;
}
.dashboard-list-box.activities .new-dashboard-item {
    cursor: pointer;
}
.new-dashboard-item {
    position: absolute;
    right: 30px;
    top: 22px;
    padding: 6px 15px;
    border-radius: 4px;
    color: #fff;
    background: #4CAF50;
    z-index: 10;
}
.dashboard-list-box.activities .dashboard-message-text {
    padding-left: 0;
}
.dashboard-message-text {
    margin-left: 30px;
    text-align: left;
    padding-left: 50px;
}
.dashboard-list-box.activities .dashboard-message-text i {
    padding-right: 20px;
}
.dashboard-message-text p
{
  margin-bottom: 0px;
  font-size: .9rem;
}
.sidebar .nav > li > .sub {
  background: #1a222a;
  list-style: none;
}

.sidebar .nav > li > .sub a {
  color: #889099;
  padding-left: 17px;
}

.sidebar .nav > li > .sub a:hover {
  transition-duration: 0.6s;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.sidebar .nav > li > .sub a:focus {
  transition-duration: 0.6s;
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

.sidebar .nav > li > .sub a:before {
  content: '\f10c';
  font-family: FontAwesome;
  position: absolute;
  left: 31px;
  font-size: 0.6rem;
  color: #889099;
  margin-top: 5px;
}

.sidebar .sub {
  position: relative;
}

.sidebar .sub:before {
  content: '';
  position: absolute;
  left: 33px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #111;
}

.sidebar .has-sub > a.nav-link[aria-expanded="false"]:before {
  content: '\f107';
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  color: #889099;
  margin-top: 6px;
  display: inline-block;
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.sidebar .has-sub > a.nav-link[aria-expanded="true"]:before {
  content: '\f106';
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  font-size: 0.9rem;
  color: #889099;
  margin-top: 6px;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.sidebar .nav > li > a i
{
  width: 16px;
  text-align: center;
}
.table-desi i {
    background: #4CAF50;
    color: #ffffff;
    padding: 5px 6px;
    border-radius: 2px;
    font-size: 13px;
    text-align: center;
    margin-right: 10px;
}
.list-enq-name {
    display: block;
    font-weight: 700;
    color: #263238;
    font-size:.9rem;
}
.table-desi tbody tr td {
    color: #929292;
    font-size: .85rem;
    padding: 15px 8px 12px 12px !important;
} 
.dash-bg  form .col-md-12
{
  margin-bottom: 1rem;
}
.multiselect
{
  color: #000;
      border: 1px solid #ced4da;
      font-size: .9rem!important;
      text-align: left;
      width: 100%;
          height: calc(1.7em + .75rem + 2px);
    padding: .375rem .75rem;
}
.multiselect:hover
{
  background-color: initial!important;

}
.multiselect-native-select .btn-group
{
   width: 100%;
}
.multiselect-native-select select, .multiselect-selected-text
{
  font-size: .8rem!important;
  text-transform: capitalize;
  font-weight: 600;
}
.multiselect-container>li>a>label
{
    padding: 5px 12px 5px 12px!important;
}
.multiselect-container>li>a>label>input[type=checkbox] 
{
  margin-right: .5rem;
  margin-bottom: 0;
}
.multiselect-container li a
{
  color: #000;
  font-size: .8rem!important;
}
.multiselect-container>li>a>label.checkbox, .multiselect-container>li>a>label.radio {
    margin: 0;
    display: flex;
    align-items: center;
}
.multiselect-container>li>a>label
{
  font-size: .8rem;
}
.multiselect-native-select .dropdown-toggle::after
{
  float: right;
  margin-top: 0.5rem;

}
.multiselect:focus
{
  border: 1px solid #4CAF50;
    box-shadow: none;
}
.bootstrap-select button
{
    background: transparent!important;
    border: 1px solid #4CAF50!important;
    border-radius: 5px!important;
    padding-top:12px!important;
    color: #f25621;
    padding-bottom:12px!important;
}
.form_colum .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) 
{
    width:100%!important;
}
.gallery-thumbs, .gallery-thumbs2
{
    margin-top:.5rem;
}
.choose-your-room
{
    margin-bottom:1rem;
}
.choose-your-room label
{
    margin-top:1rem;
    font-size:.9rem;
}
.list-of-property .container .ht-property 
{
        margin-bottom: 2rem;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.2);
}
#accordion .panel{
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}
#accordion .panel-heading{
    padding: 0;
    border: none;
    border-radius: 3px;
}
#accordion .panel-title a{
    display: block;
    padding: 12px 15px 12px 50px;
    background: linear-gradient(to bottom, #fefefe, #cdcdcd);
    border: 1px solid #c3c3c3;
    border-radius: 3px;
    font-size: 16px;
    text-decoration:none!important;
    font-weight: bold;
    color: #676767;
    text-shadow: 1px 1px 1px #fff;
    position: relative;
}
#accordion .panel-title a:before{
    content: "\f068";
    font-family: "FontAwesome";
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    font-size: 12px;
    font-weight: 900;
    color: #fdfbfb;
    text-align: center;
    box-shadow: inset 0 0 10px rgb(242 86 33);
    text-shadow: none;
    position: absolute;
    top: 8px;
    left: 15px;
}
#accordion .panel-title a.collapsed:before{ content: "\f067"; }
#accordion .panel-body{
    padding: 10px 15px;
    font-size: 15px;
    color: #222;
    line-height: 27px;
    border: none;
}
#accordion .panel-body p{ margin-bottom: 0; }
#contact .form-control
{
    margin-bottom:1rem;
}
#progressbar li.active:before, #progressbar li.active:after {
    background: #f25621!important;
}
.form-card .form-control
{
    height:auto!important;
    padding: .7rem .75rem!important;
}
#msform input, #msform textarea
{
    border: 1px solid #ced4da!important;
    padding: .7rem .75rem!important;
    border-radius:5px!important;
    margin-bottom:0px!important;
    font-family:inherit!important;
    font-size:14px!important;
    letter-spacing: 0px!important;
}
.form-card .col-md-6
{
    margin-bottom:1.5rem;
}
.form-card .fs-title
{
    margin-bottom:2rem;
}
#msform .action-button
{
background: #4CAF50!important;
}
#msform fieldset .form-card 
{
    box-shadow:none!important;
    margin:0px!important;
    width:initial!important;
    padding:0px!important;
}
.form_bg .card
{
    padding:2rem!important;
}
.dashboard-ac .form_bg label 
{
    text-transform: capitalize!important;
    font-size:.8rem!important;
}
#msform .action-button:hover, #msform .action-button:focus
{
    box-shadow:none!important;
}
.form-card label
{
    display:flex;
    color:#000;
    font-weight:500!important;
}
.form-card label input
{
    width:initial!important;
    margin-right:.5rem;
}
.form-card small
{
    letter-spacing:0px!important;
}
#nav-tabContent .dashboard-list-box 
    {
        background:#fff;
    }
.invoice .table>tbody>tr>td 
{
    padding: 8px 12px!important;
}  
.form_bg form
{
    width:100%;
}
.invoice-ribbon
{
    display:none!important;
}
@media screen and (min-width:320px) and (max-width:400px)
{
    .moreinfo 
    {
        position: initial!important;
        margin-top:1.5rem!important;
    }
    .pricing.text-right
    {
        text-align:left!important;
    }
    .booking-confirmation
    {
        padding-right:15px!important;
        padding-left:15px!important;
    }
    .inner_page_banner 
    {
        height:auto!important;
    }
    .inner_page_banner .container.inner_page_heading h2 
    {
        font-size:1.4rem!important;
    }
    .second_navbar .navbar-brand img 
    {
        width: 175px!important;
    }
    .ht-property .moreinfo
    {
        display:none!important;
    }
    .ht-property .hostel-name
    {
        margin-bottom:0px!important;
    }
    .list-of-property .container .ht-property
    {
            padding: 20px 13px 6px!important;
    }
    .ht-property .rating-summary .score 
    {
        min-width: 2rem;
        font-size: .8rem;
    }
    .rating-summary.rating-small .info .keyword 
    {
        font-size:.8rem;
    }
    .list-of-property .container .ht-property .pricing li .price
    {
        margin-left:0px;
    }
    .ht-property .wish-list i
    {
        display:none;
    }
    .mobile-off
    {
        display:none;
    }
    .ht-quailty.desktop-off
    {
        margin-bottom:.7rem;
        margin-top: .7rem;
    }
    .ht-property .border-dotted 
    {
        display:none!important;
    }
    .ht-property .gallery-top img
    {
        height:100%!important;
    }
    table, .dataTables_wrapper
    {
        display:block!important;
        overflow-x:auto!important;
    }
    .dashboard-ac .col-xl-3
    {
        padding-right:15px!important;
    }
    #user-dashboard .navbar-brand img
    {
        width:40px!important;
    }
    .fs-title
    {
        font-size:18px!important;
    }
    .form_bg .card 
    {
         padding: 2rem 1.5rem!important;
    }
    .booking-details .b-date img
    {
        height:initial!important;
    }
    .booking-list-details
    {
        margin-top:2rem;
    }
    .booking-list-details h3
    {
        font-size:1.2rem;
    }
    .dash-list-btn
    {
        margin-top:1.5rem;
    }
    .booking-details .text-right
    {
        text-align:left!important;
    }
    .invoice .top-right, .invoice .from
    {
        text-align:left!important;
    }
    .statistic-item-wrap
    {
        width:50%!important;
    }
    .dashboard-list
    {
        padding:20px!important;
    }
    .dashboard-message-text
    {
        margin-left:11px!important;
        
    }
    .new-dashboard-item
    {
        position:initial!important;
        float:right!important;
        padding:0px 4px!important;
    }
    .dashboard-list-box.activities .dashboard-message-text i
    {
        padding-right: 7px!important;
    }
    .statistic-item
    {
        padding:5px 20px;
    }


}
@media screen and (min-width:401px) and (max-width:767px)
{
    .moreinfo 
    {
        position: initial!important;
        margin-top:1.5rem!important;
    }
    .pricing.text-right
    {
        text-align:left!important;
    }
    .booking-confirmation
    {
        padding-right:15px!important;
        padding-left:15px!important;
    }
    .inner_page_banner 
    {
        height:auto!important;
    }
    .inner_page_banner .container.inner_page_heading h2 
    {
        font-size:1.4rem!important;
    }
    .second_navbar .navbar-brand img 
    {
        width: 175px!important;
    }
}
@media screen and (min-width:992px)
{
    .desktop-off
    {
        display:none!important;
    }
}